<div class="container-fluid row justify-content-center bg-white pt-4 py-0">
    <div class="col bg-white">
        <div class="row justify">
            <strong class="col text-black">This First Heading</strong><strong class="col text-secondary">Will Catch Your Eye</strong>
            <p class="fs-6 fw-light">At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        </div>
    </div>
    <div class="col">
        <img src="../website/assets/img/1.jpg" alt="Picture of Walt" class="rounded-circle img-fluid">
    </div>
</div>
