<div class="card mt-3 border-0">
  <h5 class="card-title">Portfolio</h5>
  <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti.</p>
  <div class="row row-cols-1 row-cols-3 g-4">
    <div class="col px-1">
      <div class="card h-40">
        <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="big project image">
        <div class="card-body">
          <p class="card-title text-primary"><strong>Project Name</strong></p>
          <p class="card-text">Lorem ipsum dolor...</p>
        </div>
      </div>
    </div>
    <div class="col px-1">
      <div class="card h-100">
        <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="big project image">
        <div class="card-body">
          <p class="card-title text-primary"><strong>Project Name</strong></p>
          <p class="card-text">Lorem ipsum dolor...</p>
        </div>
      </div>
    </div>
    <div class="col px-1">
      <div class="card h-100">
        <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="big project image">
        <div class="card-body">
          <p class="card-title text-primary"><strong>Project Name</strong></p>
          <p class="card-text">Lorem ipsum dolor...</p>
        </div>
      </div>
    </div>
  </div>
</div>