<div class="card mb-3 border-0" style="max-width: 540px;">
  <div class="row g-0 align-middle">
    <div class="col-3">
      <img src="../website/assets/img/2.jpg" class="img-fluid rounded-circle" alt="Picture of Walt">
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title"><span class="text-black">The Second Heading</span><span class="text-secondary"> Is Pretty Cool Too.</span></h5>
        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-white pt-2 pb-3">
  <hr class="text-secondary">
</div>